practicas/p11/serviciovod.dtd

<!ELEMENT CatalogoVOD (cuenta, contenido)>
<!ELEMENT cuenta (perfiles)>
<!ELEMENT perfiles (perfil+)>
<!ELEMENT perfil (#PCDATA)>
<!ATTLIST perfil 
usuario CDATA #REQUIRED
idioma CDATA #REQUIRED>
<!ATTLIST cuenta correo CDATA #REQUIRED>

<!ELEMENT contenido (peliculas, programas)>
<!ELEMENT peliculas (genero+)>
<!ELEMENT programas (genero+)>
<!ELEMENT genero (titulo+)>
<!ELEMENT titulo (#PCDATA)>
<!ATTLIST genero nombre CDATA #REQUIRED>
<!ATTLIST titulo duracion CDATA #REQUIRED>
